@{
    ViewBag.Title = "Add Quotation ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Inline styles moved to /css/modules/common-overrides.css and forms.css *@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<div class="wraper container-fluid">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Quotation</h3>
            </div>
            <div class="panel-body">
                <!-- Customer and Date Section -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Customer : </label>
                            <select id="Customer" class="form-control" onchange="blankme(this.id)">
                                <option value="">Select Customer</option>
                            </select>
                            <small id="error_Customer" class="form-text error_msg">Select Customer from list</small>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SDate">Date : </label>
                            @Html.TextBox("SDate", null, new { @class = "form-control mydatepicker", @placeholder = "Select Quotation Date ", onchange = "blankme(this.id)" })
                            <small id="error_SDate" class="form-text error_msg">Quotation Date is Required</small>
                        </div>
                    </div>
                </div>
                
                <!-- Product Section - Improved Layout -->
                <div class="product-section">
                    <!-- Product Selection Form -->
                    <div class="product-form">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Add Item</h3>
                            </div>
                            <div class="panel-body">
                                <form role="form">                            
                                    <div class="form-group">
                                        <label for="SMedicine">Medicine : </label>
                                        <select id="SMedicine" class="form-control">
                                            <option value="">Select Medicine</option>
                                        </select>
                                        <small id="error_SMedicine" class="form-text error_msg">Select Medicine from list</small>
                                    </div>
                                    <div class="form-group" id="medicineDetails">
                                        <!-- Medicine details will be populated here -->
                                    </div>
                                    <div class="form-group">
                                        <label for="SQuantity">Quantity : </label>
                                        @Html.TextBox("SQuantity", null, new { @class = "form-control", @type = "number", @placeholder = "Enter Quantity", @min = "0" })
                                        <small id="error_SQuantity" class="form-text error_msg">Quantity is required</small>
                                        <small id="error_SQuantitycheck" class="form-text error_msg">Quantity Must be less than stock</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="SDiscountPercent">Discount % : </label>
                                        @Html.TextBox("SDiscountPercent", null, new { @class = "form-control", @type = "number", @placeholder = "Enter Discount %", @min = "0", @max = "100", @step = "0.01" })
                                        <small id="error_SDiscountPercent" class="form-text error_msg">Discount must be between 0-100%</small>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="SaleaddToList" class="btn btn-info btn-block">
                                            Add To List
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Product List -->
                    <div class="product-list">
                        <div class="panel panel-color panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Product List</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="detailsTable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Unit</th>
                                                <th>Discount %</th> <!-- Changed from "Discount" to "Discount %" -->
                                                <th>Qnt</th>                                            
                                                <th>Amt</th>
                                                <th style="width:20px"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><strong>Total:</strong></td>
                                                <td><strong id="SSubTotal"></strong></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <small id="error_SSubTotal" class="form-text error_msg">At least add one item</small>
                            </div>
                        </div>
                        
                        <!-- Quotation Details Section -->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="Notes">Notes: </label>
                                    @Html.TextArea("SNotes", new { @class = "form-control", @rows = "2", @placeholder = "Enter Notes" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SDiscount">Discount : </label>
                                    @Html.TextBox("SDiscount", 0, new { @class = "form-control", @Value = "0", @type = "number", @placeholder = "Discount Amount", onchange = "SDiscountAmount()" })
                                    <small id="error_SDiscount" class="form-text error_msg">Discount can't be empty</small>
                                </div>
                                <div class="form-group">
                                    <label for="SGrandTotal">Grand Total : </label>
                                    <h5 id="SGrandTotal" class="form-control"></h5>
                                    <small id="error_SGrandTotal" class="form-text error_msg">Total is empty</small>
                                </div>
                                
                                <div class="form-group">
                                    <input id="QBtnSave" class="btn btn-success btn-block" type="submit" value="Save Quotation" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    
    <script src="~/Scripts/App/sales.js"></script>
    <script type="text/javascript">
        function disableButton() {
            document.getElementById("QBtnSave").disabled = true;
        }
    </script>
}