@model Pharma263.Integration.Api.Models.Response.PurchaseDetailsResponse
@{
    ViewBag.Title = "Purchase Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wraper container-fluid">
    <div class="page-title">
        <h1 class="title">Purchase Details - #@Model.Id</h1>
        <a href="@Url.Action("Index", "Purchase")" class="btn btn-default pull-right">
            <i class="fa fa-arrow-left"></i> Back to Purchases
        </a>
        <div class="clearfix"></div>
    </div>
    
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Purchase Information</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>Purchase ID:</dt>
                                <dd>#@Model.Id</dd>
                                
                                <dt>Supplier:</dt>
                                <dd><strong>@Model.Supplier</strong></dd>
                                
                                <dt>Purchase Date:</dt>
                                <dd>@Model.PurchaseDate.ToString("MMM dd, yyyy")</dd>
                                
                                <dt>Payment Method:</dt>
                                <dd>@Model.PaymentMethod</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>Purchase Status:</dt>
                                <dd>
                                    @if (Model.PurchaseStatus == "Paid")
                                    {
                                        <span class="label label-success">@Model.PurchaseStatus</span>
                                    }
                                    else if (Model.PurchaseStatus == "Pending")
                                    {
                                        <span class="label label-warning">@Model.PurchaseStatus</span>
                                    }
                                    else if (Model.PurchaseStatus.Contains("Due"))
                                    {
                                        <span class="label label-danger">@Model.PurchaseStatus</span>
                                    }
                                    else if (Model.PurchaseStatus.Contains("Partial"))
                                    {
                                        <span class="label label-info">@Model.PurchaseStatus</span>
                                    }
                                    else
                                    {
                                        <span class="label label-default">@Model.PurchaseStatus</span>
                                    }
                                </dd>
                                
                                <dt>Total:</dt>
                                <dd>$@Model.Total.ToString("N2")</dd>
                                
                                <dt>Discount:</dt>
                                <dd>$@Model.Discount.ToString("N2")</dd>
                                
                                <dt>Grand Total:</dt>
                                <dd><strong>$@Model.GrandTotal.ToString("N2")</strong></dd>
                            </dl>
                        </div>
                    </div>
                    
                    @if (!string.IsNullOrEmpty(Model.Notes))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <dt>Notes:</dt>
                                <dd>@Model.Notes</dd>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Actions</h2>
                </div>
                <div class="panel-body">
                    <div class="btn-group-vertical btn-block" role="group">
                        <a href="@Url.Action("PurchaseInvoice", "Purchase", new { purchaseId = Model.Id })" 
                           target="_blank" class="btn btn-primary">
                            <i class="fa fa-print"></i> Print Purchase Order
                        </a>
                        
                        <a href="@Url.Action("EditPurchase", "Purchase", new { purchaseId = Model.Id })" 
                           class="btn btn-warning">
                            <i class="fa fa-edit"></i> Edit Purchase
                        </a>
                        
                        <a href="@Url.Action("DeletePurchase", "Purchase", new { purchaseId = Model.Id })" 
                           onclick="return confirm('Are you sure you want to delete this purchase? This action cannot be undone.')"
                           class="btn btn-danger">
                            <i class="fa fa-trash"></i> Delete Purchase
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Purchase Items</h2>
                </div>
                <div class="panel-body">
                    @if (Model.Items != null && Model.Items.Any())
                    {
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Medicine</th>
                                        <th>Batch No</th>
                                        <th>Expiry Date</th>
                                        <th>Buying Price</th>
                                        <th>Selling Price</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int itemNumber = 1;}
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td>@itemNumber</td>
                                            <td>
                                                <strong>@item.MedicineName</strong>
                                            </td>
                                            <td>@item.BatchNo</td>
                                            <td>@item.ExpiryDate.ToString("MMM dd, yyyy")</td>
                                            <td>$@item.BuyingPrice.ToString("N2")</td>
                                            <td>$@item.SellingPrice.ToString("N2")</td>
                                            <td>@item.Quantity</td>
                                            <td>$@item.Amount.ToString("N2")</td>
                                        </tr>
                                        itemNumber++;
                                    }
                                </tbody>
                                <tfoot>
                                    <tr class="info">
                                        <td colspan="7" class="text-right"><strong>Subtotal:</strong></td>
                                        <td><strong>$@Model.Total.ToString("N2")</strong></td>
                                    </tr>
                                    @if (Model.Discount > 0)
                                    {
                                        <tr class="warning">
                                            <td colspan="7" class="text-right"><strong>Discount:</strong></td>
                                            <td><strong>-$@Model.Discount.ToString("N2")</strong></td>
                                        </tr>
                                    }
                                    <tr class="success">
                                        <td colspan="7" class="text-right"><strong>Grand Total:</strong></td>
                                        <td><strong>$@Model.GrandTotal.ToString("N2")</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning text-center">
                            <h4><i class="fa fa-exclamation-triangle"></i> No Items</h4>
                            <p>This purchase has no items associated with it.</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>