@model IEnumerable<Pharma263.MVC.Models.PurchaseBySupplierViewModel>
@using System.Globalization;

<style>
    /* Define CSS styles for the table and table cells */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px; /* Adjust the padding as needed */
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2; /* Alternate row background color */
    }

    /* Additional styling as needed */
</style>

<h2>Sales by Customer Report</h2>

<table>
    <tr><th>Medicine Name</th><th>Purchase Date</th><th>Amount</th><th>Quantity</th><th>Price</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MedicineName</td>
            <td>@item.PurchaseDate.ToString("dd-MM-yyyy HH:mm:ss")</td>
            <td>@item.Price.ToString("### ###0.00", CultureInfo.InvariantCulture)</td>
            <td>@item.Quantity</td>
            <td>@item.Amount.ToString("### ###0.00", CultureInfo.InvariantCulture)</td>
        </tr>
    }
</table>